._ewec_layout_container_ {
  background: #4b85fc;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  ._ewec_layout_header_box_ {
    display: flex;
    align-items: center;
    height: 70px;
  }
}
