
._ewec_layout_operate_ {
  height: 100%;
  display: flex;
  align-items: center;
  background: green;
  padding: 0 30px 0 10px;
  cursor: pointer;

  ._ewec_layout_operate_badge_ {
    margin-right: 15px !important;
  }

  ._ewec_layout_operate_select_{

  }
}
